
<div class="container">

<h1>Mat's Blog</h1>

<h2>All Blog Posts</h2>

<ul id="features">
  <% @features.each do |feature| %>
    <li>
      <%= link_to feature.title, feature_path(feature) %>
    </li>
  <% end %>
</ul>


<% if current_user %>
 <%= link_to "Create a New Blog Post", new_feature_path, class: "new_feature" %>
<% end %>


</div>