<div class="header">
	<h1>Mat's Blog</h1>
</div>

<div class="container">


	<div class="feature col-md-8 col-md-offset-2">
	<h2>All Blog Posts</h2>
		<ul id="features">
		  <% @features.each do |feature| %>
		    <li>
		      <%= link_to feature.title, feature_path(feature) %>
		      <p class="date"> Created at <%= feature.created_at.strftime("%m/%d/%Y %I:%M%p")%></p>
		    </li>
		  <% end %>
		</ul>
	</div>

	
	<% if current_user %>
	<br>
	<br>
	<div class="footer col-md-8 col-md-offset-2"> 
	 <%= link_to "Create a New Blog Post", new_feature_path, class: "new_feature" %>
	 </div>
	<% end %>
	


</div>